/* app styles */

main {
  width: 960px;
  float: left;
}

 body {
   background-color: #FDFFFD;
   margin: 0 auto;
   width: 960px;
 }

 header {
   background-image: url("img/header.jpg");
   padding-bottom: 10px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
 }

a {
  color: black;
}

.header-left img {
  width: 100px;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}

.header-middle {
  text-align: center;
  margin-right: 50px;
}

.header-middle h2 {
  margin-top: 70px;
  text-align: center;
  background-color: #FF342A;
  display: inline-block;
  font-style: helvetica;
  color: black;
  font-size: 24px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 3px;
}

.header-right {
  position: relative;
  bottom: 80px;
  float: right;
  margin-right: 30px;
  width: 100px;
}

.header-right img {
  margin-top: 5px;
  width: 60px;
  height: 60px;
  margin-left: 25px;
}

.header-right img:active {
  transition: 2s;
  transform: rotate(1080deg);
}


.asking-form {
 background-color: #F6FAFA;
 border: 1px solid black;
 width: 800px;
 height: 220px;
 border-radius: 30px;
 margin: 0 auto;
 margin-top: 50px;
}

.form-left {
  width: 320px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
}

.form-right {
  width: 320px;
  float: right;
  margin-right: 50px;
}

.form-li {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  font-size: 24px;
}

.button {
  padding-top: 10px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.results {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  width: 800px;
  height: 220px;
  border-radius: 30px;
  background-color: #F6FAFA;
  text-align: center;
  border: 1px solid black;
}

h4 {
  font-size: 24px;
  padding-top: 10px;
}

.footer {
  width: 960px;
  height: 100px;
  background-color: grey;
}

.footer-left {
  text-align: center;
  float: left;
  width: 300px;
  height: 100px;
}

.footer-right {
  text-align: center;
  float:  right;
  width: 200px;
  height: 100px;
}

h5 {
  padding: 40px;
  font-size: 20px;
}


/*
CSS FOR MEEPLE SPIN
needs to be added

img:active {
  transition: 2s;
  transform: rotate(1080deg);
}
*/
